h4 {
  margin-top: 1.5rem;
}
table {
  width: 80%;
  border: 1px solid black;
  text-align: left;
  background-color: white;
  margin-top: 1.5rem;
  border-collapse: collapse;
}
th {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 2px;
}
td {
  padding: 2px;
}

tr:nth-last-of-type(odd) {
  background-color: lightgray;
}
