<div class="full">
  <img
    src="../../../assets/images/cms-background.jpeg"
    alt="abstract background"
    class="bg-img"
  />
  <div class="centered">
    <div>
      <label for="search">Search by name:</label>
      <input type="text" name="search" id="search" [(ngModel)]="search" />
    </div>
    <h4>You're searching by: {{ search }}</h4>
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>company</th>
        <th>email</th>
      </tr>
      <ng-container *ngIf="usersList | async as users">
        <tr *ngFor="let user of users | filterUsers: search">
          <td>{{ user.id }}</td>
          <td>
            <a [routerLink]="['/users', user.id]">{{ user.name }}</a>
          </td>
          <td>
            <a [href]="'//' + user.website" target="_blank">{{
              user.company.name
              }}</a>
          </td>
          <td>{{ user.email }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
